*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

/*Properties for navigation*/

.navigation{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    top: 5%;
    left: 3%;
}
.navigation button{
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: #163A74;
    color: white;
    font-size: 170%;
    cursor: pointer;
    transition: all .3s ease;
}
.navigation button:hover{
    transform: scale(1.02);
    background-color: #102850;
}

/*Properties main box*/

.container{
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    height: 50%;
    padding: 10px 5px;
    border-radius: 7px;
    background-color: rgb(44, 79, 102);
}
.container h1{
    color: white;
    margin: 10px;
}
.container input, textarea{
    width: 70%;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 7px 0px;
}
.container form{
    display: flex;
    align-items: center;
    flex-direction: column;
}