*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    height: 100vh;
    align-items: center;
}
#container{
    position: relative;
    width: 30%;
    height: 60%;
}
.stack{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 300px;
    height: 250px;
    transition: all .6s cubic-bezier(0, 1.4 , 0, 1);
    background-position: center;
    background-size: cover;
    font-size: 800%;
    color: white;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    /* transition: margin .4s ease; */
}
.hovereffect{
    transform:rotate3d(0.2,2,0,55deg);
}
button{
    padding: 10px 20px;
    font-size: 2rem;
    margin: 0 20px;
}
#orangegrad{
    background-image: linear-gradient(#E75B7A,#F7D78C);
    margin-left: 100%;
}
#bluegrad{
    background-image: linear-gradient(#2F1DA2,#70b7f5);
    margin-left: 100%;
}
#cyangrad{
    background-image: linear-gradient(#245B94,#44C89E);
    margin-left: 100%;
}
#purpgrad{
    background-image: linear-gradient(#3800A0,#E860F0);
    margin-left: 100%;
}
#push{
    border-radius: 5px;
    background-color: rgb(75, 204, 75);
    color: rgb(233, 233, 233);
    border: none;
    outline: none;
    transition: all .2s ease;
    margin: 10px 0;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#push:active{
    transform: scale(0.94);
}
#pop{
    border-radius: 5px;
    background-color: rgb(75, 204, 75);
    color: rgb(233, 233, 233);
    border: none;
    outline: none;
    transition: all .2s ease;
    margin: 10px 0;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#pop:active{
    transform: scale(0.94);
}
.operat{
    position: absolute;
    top: 35%;
    right: 10%;
    width: 30%;
    height: 40%;
    /* background-color: rgb(34, 122, 163); */
    background-image: linear-gradient(rgb(66, 145, 214),rgb(24, 75, 119));
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px grey;
}
.buttons{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}
