*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-between;
    background-image: url('/pexels-nick-collins-3417418.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    align-items: center;
}

/*Properties for navigation*/

.navigation{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    top: 5%;
}
.navigation button{
    border: none;
    border-radius: 7px;
    background-color: #163A74;
    color: white;
    font-size: 170%;
    cursor: pointer;
    transition: all .3s ease;
}
.navigation button:hover{
    transform: scale(1.02);
    background-color: #102850;
}

/*Properties for stack container*/

#container{
    position: relative;
    width: 30%;
    height: 60%;
}

/*Properties for each stack*/

.stack{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 300px;
    height: 250px;
    transition: all .6s cubic-bezier(0, 1.4 , 0, 1);
    background-position: center;
    background-size: cover;
    font-size: 800%;
    color: white;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
}
.hovereffect{
    transform:rotate3d(0.2,2,0,55deg);
}
button{
    padding: 10px 20px;
    font-size: 2rem;
    margin: 0 20px;
}
#orangegrad{
    background-image: linear-gradient(#E75B7A,#F7D78C);
    margin-left: 100%;
}
#bluegrad{
    background-image: linear-gradient(#2F1DA2,#70b7f5);
    margin-left: 100%;
}
#cyangrad{
    background-image: linear-gradient(#245B94,#44C89E);
    margin-left: 100%;
}
#purpgrad{
    background-image: linear-gradient(#3800A0,#E860F0);
    margin-left: 100%;
}

/*Properties for push button*/

#push{
    border-radius: 5px;
    background-color: #163A74;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    transition: all .2s ease;
    margin: 10px 0;
    box-shadow: 2px 3px 10px rgb(33, 33, 33);
    cursor: pointer;
    transition: all .5s ease;
}
#push:hover{
    background-color: #112b55;
}
#push:active{
    transform: scale(0.94);
}

/*Properties for pop button*/

#pop{
    border-radius: 5px;
    background-color: #163A74;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    transition: all .2s ease;
    margin: 10px 0;
    box-shadow: 2px 3px 10px rgba(33, 33, 33, 0.796);
    cursor: pointer;
    transition: all .5s ease;
}
#pop:hover{
    background-color: #112b55;
}
#pop:active{
    transform: scale(0.94);
}

/*Properties for buttons menu*/

.operat{
    position: absolute;
    top: 35%;
    right: 10%;
    width: 30%;
    height: 40%;
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px rgb(12, 12, 12);
}
.buttons{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}
.buttons input{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 15px;
    border-radius: 6px;
    outline: none;
    box-shadow: 2px 3px 10px rgb(33, 33, 33);
    border: none;
    width: 93%;
}